@tailwind base;
@tailwind components;
@tailwind utilities;

/* 阴影 */
.containerShadow {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
}

body {
  margin: 0px;
}

.lastBox {
  overflow-x: hidden;
}
.lastBox::-webkit-scrollbar {
  width: 5px; /* 设置垂直滚动条的宽度 */
}
.lastBox::-webkit-scrollbar-thumb {
  background-color: #eeeeee; /* 设置滚动条滑块颜色 */
  border-radius: 5px; /* 设置滑块的圆角半径 */
}

.ant-select-selector,
.ant-select-arrow {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
}
